<h1>Welcome to Meadowlark Travel</h1>
Then our About page, views/about.handlebars:
<h1>About Meadowlark Travel</h1>
Then our Not Found page, views/404.handlebars:
<h1>404 - Not Found</h1>
And finally our Server Error page, views/500.handlebars:
<h1>500 - Server Error</h1>