<p>{{ message }}</p>

<p>style: {{ style }}</p>

<p>userid: {{ userid }} (click <a href="/set-random-userid">here</a> to get another userid)</p>

<p>username: {{ username }} (click <a href="/set-random-username">here</a> to get another username)</p>